.footer {
  /* background: #333; */
    background: linear-gradient(135deg, #7d7ace, rgba(18, 22, 17, 0.466));

  position: static;
  /* position: fixed; */

  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

p{
  font-size: 1.2rem;
  padding: 10px;
  
  color : whitesmoke;
  /* background: linear-gradient(70deg, #007bff, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
  overflow: visible; */
}