body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Pyara sa Pastel UI*/
  /* background: linear-gradient(135deg, #7d7ace, rgba(18, 22, 17, 0.466)); */
    /* background: #0f1014;  */
  background: #0f1014; 
  /* background: linear-gradient(45deg, #5a5156, #0a0a0f);    */

  font-family: 'Jost', sans-serif;
}

.main {
  width: 350px;
  height: 500px;
  /* background: linear-gradient(70deg, #007bff, red); */
  /* background: rgba(59,130,246,.5); */

  /* earlier black UI */
  background: black;
  
  /* background: linear-gradient(135deg, #7d7ace, rgba(18, 22, 17, 0.466)); */
  border-radius: 10px;
  /* box-shadow: 5px 5px 20px black; */
    box-shadow: 5px 5px 20px whitesmoke;
  overflow: hidden;
  padding: 0;
}

.login {
  height: 490px;
  /* background: linear-gradient(70deg, #007bff, red); */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 60% / 15%;       
  /* 60 / 10*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  
  
  /* background: white; */
  background: linear-gradient(135deg, #007bff, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
  overflow: visible;
}

.mat-field {
  width: 80%;
  margin: 15px 0;
}
input{
  /* background-color: #0f1014; */
}

.login-text{
  color: whitesmoke;
}

button {
  background: linear-gradient(70deg, #007bff, red);
  /* color: white; */
  width: 60%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(290deg, #007bff, red);
  /* background: black; */
}

/* @override -> mat error color  */
::ng-deep .login mat-error {
  color: white; 
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
