body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Jost', sans-serif;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.main {
  width: 350px;
  height: 500px;

  background: var(--accent-color);
  border-radius: 16px;
  box-shadow: 5px 5px 20px black;
}

.login {
  height: 490px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 60% / 15%;       

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  
  
  color: white;
}

.mat-field {
  width: 80%;
  margin: 15px 0;
}
input{
}

.login-text{
  color: whitesmoke;
}

button {
  background: linear-gradient(70deg,var(--primary-color),var(--accent-color));

  width: 60%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(290deg,var(--primary-color),var(--accent-color));

}

::ng-deep .login mat-error {
  color: white; 
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
