body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Pyara sa Pastel UI*/
  /* background: linear-gradient(45deg, #ff6ec4, #7873f5);    */
  /* CodeSphere UI*/
  /* background: linear-gradient(45deg, #007bff, red); */
  /* background: linear-gradient(70deg, #007bff, red); */
  /* background: linear-gradient(135deg, #1d2b64, #f8cdda); */

  background: #333; 
  /* main bhi black (nice black UI) */
  font-family: 'Jost', sans-serif;
}

.main {
  width: 350px;
  height: 500px;
  /* background: linear-gradient(70deg, #007bff, red); */
  background: black;
  border-radius: 10px;
  box-shadow: 5px 10px 30px black;
  overflow: hidden;
  padding: 0;
}

.login {
  height: 490px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(800px);
  border-radius: 40% / 10%;       
  /* 60 / 10*/

  transform: translateY(0);
  transition: 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  font-size: 2.2em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  display: flex;

  background: linear-gradient(70deg, #007bff, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
  overflow: visible;
}

.mat-field {
  width: 80%;
  margin: 15px 0;
}

.login-text{
  color: whitesmoke;
}

button {
  background: linear-gradient(70deg, #007bff, red);
  width: 60%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(290deg, #007bff, red);
}

::ng-deep .login mat-error {
  color: white; 
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
