body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #007bff, red);
  font-family: 'Jost', sans-serif;
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(70deg, #007bff, red);  border-radius: 10px;
  box-shadow: 5px 10px 30px white;
}

.signup {
  background: #eee;
  border-radius: 60% / 10%;
  padding: 20px;
  transform: translateY(0);
  transition: 0.8s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup label {
  /* color: #573b8a; */
  color: #007bff;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}


.mat-field {
  width: 100%;
}
button {
  width: 60%;
  height: 40px;
  margin-top: 20px;
  /* color: #fff; */
  /* background: #007bff; */
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  transition: 0.2s ease-in;
}

button:hover {
  background: linear-gradient(70deg, #007bff, red);
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}




.success-snackbar {
  background-color: #4CAF50 !important; 
  color: white;
}

.error-snackbar {
  background-color: #F44336 !important; 
  color: white;
}