<h2>Expense Summary</h2>
<div>
  <p> <span class="dark"><strong>Date:</strong></span> {{ expenseDetails.date }}</p>
  <p> <span class="dark"> <strong>Title:</strong></span> {{ expenseDetails.title }}</p>
  <p> <span class="dark"> <strong>Amount:</strong></span> {{ expenseDetails.amount | currency: 'INR' }}</p>
  <p> <span class="dark"> <strong>Category:</strong></span> {{ expenseDetails.category }}</p>
  <p> <span class="dark"> <strong>Payment:</strong></span> {{ expenseDetails.payment }}</p>
  <p> <span class="dark"> <strong>Status:</strong></span> {{ expenseDetails.status }}</p>
  <p> <span class="dark"> <strong>Notes:</strong></span> {{ expenseDetails.notes }}</p>
  <p> <span class="dark"> <strong>Receipt:</strong></span> <a href="{{ expenseDetails.receipt }}" target="_blank">View Receipt</a></p>
</div>
