.welcome {
    text-align: center;
    padding: 13rem;
    background-color: gray;
}
.username{
    color : blue;
}
.p{
    font-size : 1.7rem;
    color: whitesmoke;
}
h2{
    font-size : 2.5rem;
    color: black;
}
.image{
    height : 250px;
    width: 250px;
}
.button{
    padding: 1.2rem;
    margin-left: 50px;
}