.header {
  position: sticky;
  /* position: static; */
  top: 0;
  z-index: 1000;
  background: linear-gradient(235deg, rgba(5, 5, 5, 0.466),var(--primary-color));
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}
  
.header-title {
  font-size: 20px;
  color: rgb(218, 209, 209);;
}

.spacer {
  flex: 1 1 auto;
}

.header button {
  margin-left: 8px;         
  font-size: 16px;           
  padding: 8px; 
  border-radius: 8px;

  border: 2px solid;
  border-color: #1a1a1a; 
  /* background: black; */
  background: var(--accent-color);
    box-shadow: 0px 8px 8px black;


  color: white;
}

.header button:hover{
    border-color: #333; 
}



@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

    .hamburger-menu {
    display: block;  
  }

  .header button.mat-icon-button {
    display: block;
  }
}

@media (min-width: 769px) {
  
  .desktop-menu {
    display: flex;  
  }

  .hamburger-menu {
    display: none;  
  }

  .header button.mat-icon-button {
    display: none;  
  }
}