<app-header></app-header>

<div class="dashboard-layout">
  <div class="left-pane">
      <div class=" stat-box">
        <h2>Total All-Time Expense Amount:</h2>
        <p>₹{{ totalAllTimeAmount | number:'1.0-2' }}</p>
      </div>
        
      <div class=" stat-box">
        <h2>Status Breakdown:</h2>
        <p>Paid: {{ paidCount }}</p>
        <p>Unpaid: {{ failedCount }}</p>
    </div>
  </div>


  <div class="right-pane">
    <div class="dashboard-container-right">
      
      <label for="monthSelectPie">Select Month: </label>
      <select id="monthSelectPie" [(ngModel)]="selectedMonthPie" (change)="onPieMonthChange()">
        <option *ngFor="let month of availableMonths" [value]="month.value">{{ month.label }}</option>
      </select>

      <canvas baseChart class="pie-chart"
        [data]="{ labels: pieChartLabels, datasets: [{ data: pieChartData }] }"
        [options]="pieChartOptions"
        [type]="'pie'">
      </canvas>
    </div>

    <div class="dashboard-container-right" >
      <label for="monthSelectBar">Select Year: </label>
      <select id="monthSelectBar" [(ngModel)]="selectedMonthBar" (change)="onBarMonthChange()">
        <option *ngFor="let month of availableMonths" [value]="month.value">{{ month.label }}</option>
      </select>
      <label for="monthSelectBar">Select Month: </label>
      <select id="monthSelectBar" [(ngModel)]="selectedMonthBar" (change)="onBarMonthChange()">
        <option *ngFor="let month of availableMonths" [value]="month.value">{{ month.label }}</option>
      </select>

      <canvas baseChart class="bar-chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>

    </div>

  </div>
</div>

<app-footer></app-footer>