<app-header></app-header>

<div class="dashboard-layout">
  <div class="left-pane">
      <div class="stat-box">
        <h2>Total All-Time Expense Amount:</h2>
        <p>₹{{ totalAllTimeAmount | number:'1.0-2' }}</p>
      </div>
        
      <div class="stat-box">
        <h2>Status Breakdown:</h2>
        <p>Paid: {{ paidCount }}</p>
        <p>Unpaid: {{ failedCount }}</p>
    </div>
  </div>


  <div class="right-pane">

    <div class="dashboard-container-right">
      <label for="yearSelectPie">Select Year: </label>
      <select id="yearSelectPie" [(ngModel)]="selectedYearPie" (change)="onPieSelectionChange()">
        <option value="all">All Years</option>
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>

      <label for="monthSelectPie">Select Month: </label>
      <select id="monthSelectPie" [(ngModel)]="selectedMonthPie" (change)="onPieSelectionChange()">
        <option value="all">All Months</option>
        <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
      </select>

      <!-- [data]="{ labels: pieChartLabels, datasets: [{ data: pieChartData }] }" -->
      <canvas baseChart class="pie-chart"
      [data]="pieChartData"

        [options]="pieChartOptions"
        [type]="'pie'">
      </canvas>
    </div>

    <div class="dashboard-container-right" >
      <label for="yearSelect">Select Year: </label>
      <select id="yearSelect" [(ngModel)]="selectedYearBar" (change)="onBarSelectionChange()">
        <option value="all">All Time</option>
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>

      <label for="monthSelect">Select Month: </label>
      <select id="monthSelect" [(ngModel)]="selectedMonthBar" (change)="onBarSelectionChange()">
        <option value="all">All Months</option>
        <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
      </select>


      <canvas baseChart class="bar-chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>

    </div>

  </div>
</div>

<app-footer></app-footer>