.dashboard-layout {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}
h1{
  color: red;
}
.filter-section {
  width: 350px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-section input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.nav-expense{
  /* padding: 0.3rem 0.3rem; */
}
p{
  /* margin-left: 470px; */
  /* padding-left: 24rem; */
}
.left-pane , .right-pane {
  flex: 1;
}

.right-pane {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-container-left , .dashboard-container-right  {
  /* padding: 20px; */
  text-align: center;
  font-family: 'Inter', sans-serif;
  
  /* background: linear-gradient(135deg,var(--primary-color),var(--accent-color)); */
  background: var(--accent-color);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 1);

}

.dashboard-container-right {
  padding: 20px;
  /* background: var(--accent-colors); */
}


.dashboard-container-left table {
    /* background-color: rebeccapurple; */
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(20, 20, 20, 0.466);
    
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    
    min-height: 20rem;

    border-collapse: separate;
    overflow: hidden; 
}
.dashboard-container-left table th{
    color: white;
    border-bottom: 1px solid #ddd;
    border-color: white;
   
    /* text-align: center; */
}
.dashboard-container-left table td{
    /* border: 0.5px solid; */
    border-color: rgb(63, 60, 60);
    color: white;
}


.dashboard-container-left mat-paginator{
  background: transparent;
    /* background: linear-gradient(235deg,rgba(18, 22, 17, 0.466),var(--accent-color)); */
    color: white;
}

h{
  color: rgb(218, 209, 209);
}
p{
  color: rgb(218, 209, 209);
}
  @media (max-width: 768px) {
    .dashboard-layout {
      flex-direction: column;
    }
    
      .left-pane, .right-pane {
    width: 100%;
  }
    .dashboard-container {
    padding: 20px;
  }
    .right-pane {
      flex-direction: column;
    }
  }



.dashboard-container canvas {
  max-width: 300px;

  /* max-height: 400px; */
}

.dashboard-container h2 {
  text-align: center;
  font-size: 1.2rem;
}

.right-pane .dashboard-container {
  margin-bottom: 10px;
}

.pie-chart{
max-height: 222px; 
margin: auto; 
display: block; 
cursor: pointer;

}

.bar-chart{
/* min-width: 300px;
min-height: 400px; */

  width: 100% !important;
  max-width: 100%;
  height: 300px !important;
  max-height: 400px;
  margin: auto;
  display: block;
  cursor: pointer;
}