.dashboard-layout {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}

.left-pane {
  flex: 1;
}

.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-container {
  padding: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: #7d7ace;
    /* background: #333; ; */
  /* background: linear-gradient(135deg, #64b4b4, #ec4b73); */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}


.dashboard-container table {
    /* background-color: rebeccapurple; */
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(18, 22, 17, 0.466);
    
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    
}
.dashboard-container table th{
    color: rgb(218, 209, 209);
    border-bottom: 1px solid #ddd;
    border-color: #7d7ace;
   
    /* text-align: center; */
}
.dashboard-container table td{
    /* border: 0.5px solid; */
    border-color: rgb(63, 60, 60);
    color: rgb(218, 209, 209);
}


.dashboard-container mat-paginator{
    background: linear-gradient(235deg, rgba(18, 22, 17, 0.466),#7d7ace);
    color: white;
}

h{
  color: rgb(218, 209, 209);
}
p{
  color: rgb(218, 209, 209);
}
  @media (max-width: 768px) {
    .dashboard-layout {
      flex-direction: column;
    }
    
      .left-pane, .right-pane {
    width: 100%;
  }
    .dashboard-container {
    padding: 20px;
  }
    .right-pane {
      flex-direction: column;
    }
  }



.dashboard-container canvas {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  display: block;
}

.dashboard-container h2 {
  text-align: center;
  font-size: 1.2rem;
}

.right-pane .dashboard-container {
  padding: 20px;
  margin: 10px;
}

.pie-chart{
max-width: 300px; 
max-height: 222px; 
margin: auto; 
display: block; 
cursor: pointer;

}

.bar-chart{
min-width: 300px;
min-height: 400px; 
margin: auto; 
display: block; 
cursor: pointer;

}