.dashboard-layout {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}

.left-pane {
  flex: 1;
}

.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-container {
  padding: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  /* background-color: black; */
  /* background-color: #333; */
  background: linear-gradient(70deg,#007bff, red);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

.dashboard-container table {
    /* background-color: #333; */
    background: linear-gradient(70deg, #386da7, rgb(27, 103, 190));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    text-align: center;
}
.dashboard-container table th{
    font-weight: bold;
    color: black;
    /* text-align: center; */
}
.dashboard-container table td{
    color: white;
    /* text-align: center; */
}

.dashboard-container mat-paginator{
    background: linear-gradient(70deg,red, #007bff);
    color: white;
}

 
  @media (max-width: 768px) {
    .dashboard-layout {
      flex-direction: column;
    }
  
    .right-pane {
      flex-direction: column;
    }
  }
