html,body{
    height: 100%;
}
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary-color);
    /* background: gray; */
    color: white;
}

button {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}


 
/* green black */
/* :root {
  --primary-color: #2ecc71; 
  --accent-color: #1a1a1a;
} */

/*  Blood red */
:root {
  --primary-color: #df1111; 
  --accent-color: #2c0202;
}
/* Coffee pilo */
:root {
  --primary-color: rgb(237,144,38); 
  --accent-color: rgba(5, 5, 5, 0.5)	;
}

/* Steel Blue */
/* :root {
  --primary-color: #34495e; 
  --accent-color: rgb(5, 5, 5, 0.466)	;
} */
/* :root {
  --primary-color: #7d7ace;  	
  --accent-color: #0feb3b;
} */

