body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Jost', sans-serif;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: var(--accent-color);
  border-radius: 16px;
  box-shadow: 5px 5px 20px black;
}

.signup {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 60% / 15%;        
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.signup form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup label {
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.mat-field {
  width: 100%;
}

.signup-text{
  color: white;
}

button {
  background: linear-gradient(70deg,var(--primary-color),var(--accent-color));

  width: 60%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(290deg,var(--primary-color),var(--accent-color));
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

::ng-deep .signup mat-error {
  color:  white; 
}

.success-snackbar {
  background-color: #4CAF50 !important; 
  color: white;
}

.error-snackbar {
  background-color: #F44336 !important; 
  color: white;
}