body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Pyara sa Pastel UI*/
  background: linear-gradient(135deg, #7d7ace, rgba(18, 22, 17, 0.466));

  /* background: #0f1014;  */
  /* background: linear-gradient(45deg, #5a5156, #0a0a0f);    */

  font-family: 'Jost', sans-serif;
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  /* background: linear-gradient(70deg, #007bff, red); */
  /* background: rgba(59,130,246,.5); */

  /* earlier black UI */
  /* background: black; */
  background: linear-gradient(135deg, #7d7ace, rgba(18, 22, 17, 0.466));

  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}

.signup {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  /* backdrop-filter: blur(800px); */  
  border-radius: 60% / 15%;        
  /* 60 / 10*/
  
  transform: translateY(0);
  transition: 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.signup form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup label {
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  
  /* color: white; */
  background: linear-gradient(135deg, #007bff, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
  overflow: visible;
}

.mat-field {
  width: 100%;
}

.signup-text{
  color: white;
}

button {
  background: linear-gradient(70deg, #007bff, red);
  /* background: black; */
  width: 60%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  /* cursor: not-allowed; */
  cursor: pointer;
}

button:hover {
  background: linear-gradient(290deg, #007bff, red);
  /* background: black; */
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

/* @override -> mat error color  */
::ng-deep .signup mat-error {
  color:  white; 
}

.success-snackbar {
  background-color: #4CAF50 !important; 
  color: white;
}

.error-snackbar {
  background-color: #F44336 !important; 
  color: white;
}