.theme-container {
    padding: 40px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Inter', sans-serif;

    
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    
    /* background: linear-gradient(135deg,var(--primary-color),var(--accent-color)); */
    background: var(--accent-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);

}
h1{
  padding-top: 10px;
}

.theme-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
}

input[type="color"] {
  margin-left: 10px;
}

button{
  padding: 0.5rem;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--primary-color);
  /* border-color: var(--accent-color); */
  /* border-color: linear-gradient(70deg,var(--primary-color),var(--accent-color)); */
}
button:hover{
  /* background: rgba(0, 0, 0, 1); */
  background: linear-gradient(70deg,var(--primary-color),var(--accent-color));
}

