.theme-container {
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: 20px;
  background: transparent;
}

.theme-picker {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;
}

.theme-picker label {
  font-size: 1rem;
  color: white; 
}

input[type="color"] {
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 60px;
  height: 30px;
}

button {
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.add-theme-container {
  display: flex;
  justify-content :right;
  margin-bottom: 10px;
}

.add-theme mat-icon {
  vertical-align: middle;
  margin-right: 6px;
}

button.add-theme:hover{
  background: var(--accent-color);
}


button:disabled {
  
  opacity: 0.6;
}

button:hover {
  color: white;
  border-color: #333; 
}

.theme-table {
    border-radius: 16px;

  overflow-x: auto;
}

table {
  width: 100%;
    background: var(--accent-color);
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 16px;
}

table, th, td {
  
  text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  color: white;
}
td{
  border-color: rgb(63, 60, 60);

}

.theme-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 300px;
  max-width: 100%;
}

.theme-dialog h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
  color: white;
}

.theme-dialog label {
  display: block;
  font-size: 1rem;
}

.theme-dialog input[type="color"] {
  width: 80px;
  height: 40px;
  margin-top: 10px;
}

button {
  margin: 5px;
  box-shadow: 0px 2px 2px black;
}
button.save-btn {
  padding: 0.6rem 0.6rem;
  background-color: black;
  
  color: white;
}

button.save-btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

button.cancel-btn {
  padding: 0.6rem 0.6rem;
  background-color: black;
  color: white;
}

button.cancel-btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}


.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}


.mat-paginator {
  color: white;
  background-color: transparent !important;
  box-shadow: none !important;
}

