<main class="main">
  
  <app-navbar></app-navbar>
  <app-welcome></app-welcome>
    
  <div class="home" id="home">
    <h1>Welcome to {{home}} section!</h1>
    <p>This is a simple home section.</p>
    <p>Current location: home</p>
  </div>

  <div class="content" id="content">
    <h1>Welcome to {{content}} section!</h1>
    <p>This is a simple content section.</p>
    <p>Current location: content</p>
  </div>

  <div class="about" id="about" >
    <h1>Welcome to {{about}} section!</h1>
    <p>This is a simple about section.</p>
    <p>Current location: about</p>
  </div>

  <div>
    <app-footer></app-footer>
  </div>

<router-outlet></router-outlet>
