html{
    scroll-behavior : smooth;
}

.main{
    background-color: aquamarine;
    margin: 0px;
}

.home{
    background-color: aquamarine;
    font-size: 1.7rem;
    padding : 13rem;
    text-align: center;
}
.content{
    background-color: darkcyan;
    font-size: 1.7rem;
    padding : 13rem;
    text-align: center;
}
.about{
    background-color: aquamarine;
    font-size: 1.7rem;
    padding : 13rem;
    text-align: center;
}
.contact{
    background-color: darkcyan;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}