<app-header></app-header>

<div class="dashboard-layout">
    <!-- <div class="dashboard-container">
      <h1>Expense list </h1>
    </div> -->

    <div class="dashboard-container">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">
         
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Dates </th>
                <td mat-cell *matCellDef="let element"> {{ element.date | date:'mediumDate' }} </td>
            </ng-container>
         
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency:'INR'}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
            
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Payment </th>
                <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Notes </th>
                <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
            </ng-container>

            <ng-container matColumnDef="receipt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Receipt </th>
                <td mat-cell *matCellDef="let element"> {{element.receipt}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        <mat-paginator [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 50]"
               showFirstLastButtons>
        </mat-paginator>

    </div>        
</div>   

<app-footer></app-footer>