.filter-section {
  width: 350px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-section input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard-container {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
    /* background: radial-gradient(gray,#7d7ace,rgba(18, 22, 17, 0.466)); */
    /* background: radial-gradient(gray,#72b969,black); */
    border: 2px solid rgba(255, 255, 255, 0.125);
    border-radius: 16px;
    /* background: linear-gradient(135deg,var(--primary-color),var(--accent-color)); */
    background: var(--accent-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);

}
.dashboard-container table {    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(20, 20, 20, 0.466);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 1);

    min-height: 35rem;

    border-collapse: separate;
    overflow: hidden; 
}
.dashboard-container table th{
    color: white;
    border-bottom: 1px solid #ddd;
    border-color: white;
   
    /* text-align: center; */
}
.dashboard-container table td{
    /* border: 0.5px solid; */
    border-color: rgb(63, 60, 60);
    color: white;
}

h1 {
    font-size: 2rem;
    color: whitesmoke;
}

table {
    width: 100%;
}

.dashboard-container mat-paginator{
    background: transparent;
    /* background: linear-gradient(235deg, rgba(18, 22, 17, 0.466),var(--primary-color)); */
    /* background: linear-gradient(235deg, rgba(18, 22, 17, 0.466),#7d7ace); */
    color: white;
    font-size: 1rem;
}

th.mat-sort-header-sorted {
  color: black;
}



.search-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.full-width-table {
  width: 100%;
}

.paid-status {
  color: green;
  font-weight: 600;
}

.unpaid-status {
  color: red;
  font-weight: 600;
}