.heading{
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
}

.form-content {
  display: flex;
  width: 100%;
  min-height: 14rem;
  flex-direction: column;
  gap: 16px; 
  padding: 16px;
}


.form-group {
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  gap: 8px; 
  padding-bottom: 8px;
}

.full-width {
  width: 100%;
}

.done-icon {
  position: absolute;
  top: 35px;
  right: 8px;
  z-index: 10;
}


.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.step {
  flex: 1;
  text-align: center;
  position: relative;
}
.step:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -50%;
  top: 50%;
  height: 4px;
  width: 100%;
  background: lightgray;
  z-index: -1;
}
.step.completed .step-index {
  background: green;
  color: white;
}
.step.active .step-index {
  border: 2px solid #3f51b5;
}
.step-index {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background: #e0e0e0;
  margin: auto;
}

.step-label{
color: black;
}
